img{
  max-width: 250px;
  align-items: center;
  // background-size: cover;
  
}

.grid{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px ;
  justify-content: center;
  grid-gap: 20px 20px;
  align-items: center;
  // border: 1px solid white;

}

.example-card{
  border: 1px solid white;
  background-color: white;
 height: 400px;
 

}