<footer>
  <div class="contact">

    <div class="logo-container">
      <img src="assets/menu/logo.png" alt="" class="img-footer">

    </div>
    <div class="footer-contact">
      <img src="assets/footer/icon-location.svg" alt="" >
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, quisquam modi..</p>
      <img src="assets/footer/icon-phone.svg" alt="">
      <p>5584575214</p>
      <img src="assets/footer/icon-email.svg" alt="">
      <p>5584575214</p>
    </div>
  </div>
  <div class="footer-about">
    <p>About us <br>
      What We Do <br>
      FAQ
    </p>
  </div>
  <div class="footer-Carrer">
    <p>Carrer <br>
      Blog <br>
      Contact Us
    </p>
  </div>
  <div class="footer-icons">
    <a  href=""><span class="icon-social-facebook-circular"></span></a>
    <a  href=""><span class="icon-social-twitter-circular"></span></a>
  </div>
</footer>    