.menu-container{
  width: 100%;
background-color: hsl(217, 28%, 15%);
display: flex;
justify-content: space-between  ;
align-items: center;
flex-wrap: wrap;
}

.img-header-container{
height: 100px;

}

img{
margin-left: 20px;
height: 95px;
}

.menu{
width: 100%vw;
height: 80px;

}

ol{
display: flex;
justify-content: flex-start;
align-items: center;
}

a{
color: white;
text-decoration: none;
height: inherit;
display: flex;
align-items: center;
padding: 0 10px;
margin-right: 10px;
text-align: center;
}

ol,ul{
list-style: none;
}