p{
  font-size: 40px;
  color: white;
  text-align: center;
}
.em-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container{
  width: 250px;
  
}

img{
  width: 240px;
  height: 120px;
}