.Opinion{
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3,400px);
  // grid-template-rows: 400px 400px 400px ;
  // border: 1px solid red; 
  grid-column-gap: 30px;
  justify-content: center;

}

.ops{
  //  border: 1px solid yellow; 
  grid-row-gap:10px ;
  background-color: hsl(219, 30%, 18%);

  border-radius: 10px;
  padding: 10px 10px 15px 10px;
  color: white;
}
.op-des{
  display: inline;
  justify-content: left;
}
.opinion-img-container{
  width: 35px;
}
.opinion-img-container img{
  width: 32px;
  border-radius: 20px;
}

.name{
  font-size: 10px;
}

.job{
  font-size: 8px;
}
